@font-face {
    font-family: 'Korataki';
    src: url('Korataki.woff2') format('woff2'),
        url('Korataki.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}